{
    "appSecret": "454353453",
    "pageAccessToken": "5634563454565456gsdfgsdfgdfgsdfgdfsgsdf",
    "accessToken": "123123434"
    "validationToken": "123456789",
    "serverURL": "http://3cc78f95.ngrok.io",
    "port": "8081",
    "levelLogging": "INFO",

    "aws" : {
        "apiVersion": "",
        "accessKeyId": "",
        "secretAccessKey": "",
        "region": "",
        "bucket": ""
    }

}
